#calculator {
    display: flex;
    justify-content: center;



}

h4 {
    text-align: center;
    color: gray;

}

#textInput {
    background-color: white;
}

#innerCalc {
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    gap: 10px;
    border: 5px solid gray;
    background-color: rgb(1, 1, 13);
    border-radius: 30px;



}

#userInput {
    border: 1px solid white;
    height: 40px;
    font-size: 30px;
    width: 382px;
    text-align: center;
    background-color: white;

}

#result {

    border: 1px solid white;
    height: 40px;
    font-size: 30px;
    text-align: center;
    background-color: white;

}

button {
    border: none;
    width: 94px;
    height: 84px;
    background-color: gainsboro;
    border-radius: 30%;
    cursor: pointer;



}